.gallery
    box-sizing: border-box
    height: 85vh
    display: flex
    flex-direction: row
    align-items: center
    z-index: 999
    .item
        padding: 40px 80px 40px 0
        height: 100px
        display: flex
        flex-direction: column
        justify-content: center
        align-items: flex-start
        .caption
            font-size: 40px
            font-weight: 800
        .logo
            font-size: 30px
            font-weight: 300
            opacity: .6

    .imageContainer
        width: 450px
        height: 300px
    .image
        object-fit: cover
        height: 100%
        width: 100%
    .viewer
        box-sizing: border-box
        width: 60vw
        height: vh
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
    .itemsWindow
        height: 85vh
        width: 40vw
        display: flex
        flex-direction: row
        flex-flow: row wrap
        overflow: auto
        z-index: 9
    .siski
        width: 200px
        height: 200px
        padding: 20px
        z-index: 10
    .siskiImg
        box-sizing: border-box
        border: 5px solid black
        width: 100%
        height: 100%
        object-fit: cover
    .siskiImgV
        width: 100%
        height: 100%
        object-fit: contain
    .BigSiski
        height: 74vh
        width: 45vw
        z-index: 10